:root {
    --background-color: #526D82;
    --font-color-light: #DDE6ED;
    --font-color-dark: #27374D;
    --accent-color: #F2A365;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background: #9DB2BF;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
}

header {
    background: url(../img/s.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header, footer {
    color: var(--font-color-light);
    padding: 10px 0;
}

footer {
    background: var(--background-color);
    text-align: center;
}

.page-section {
    margin-bottom: 20px;
}

.page-section h3 {
    border-bottom-style: dashed;
    padding-bottom: 5px;
}

.content-wrapper {
    max-width: 900px;
    /* width: 100%; */
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1 0 auto;
    /* display: flex;
    flex-direction: column; */
    align-self: center;
    justify-content: center;
}

.content-wrapper.title {
    /* justify-self: left; */
    width: 100%;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.hidden {
    display: none;
}

#menu-toggle {
    display: none;
}

nav ul {
    background-color: var(--background-color);
    text-align: center;
    padding: 0;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav li {
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    border-left: 1px solid #DDE6ED;
}

nav li:last-child {
    border-right: 1px solid #DDE6ED;
}

@media screen and (max-width: 500px) {
    nav {
        position: inherit;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        border-left: 0;
        border-top: 1px solid #DDE6ED;
    }

    nav li:last-child {
        border-right: 0;
        border-bottom: 1px solid #DDE6ED;
    }

    #menu-toggle {
        display: inline;
        width: 100%;
        height: 40px;
        background-color: var(--background-color);
        border: none;
    }

    #menu-toggle svg {
        width: 30px;
        height: 30px;
        fill: var(--font-color-light);
    }
}

nav a {
    color: #DDE6ED;
    display:inline-block;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    color: #DDE6ED;
    background-color: #27374D;
    text-decoration: none;
}

#projects-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* #projects-section li {
} */

.project {
    display: flow-root;
    margin: 10px 0;
    padding: 10px;
    background-color: #526D82;
    color: #DDE6ED;
    border-radius: 5px;
    max-width: 400px;
    list-style-type: none;
}

.project figure {
    float: left;
}

.page-section ul {
    margin: 0;
    padding: 0 20px;
}

/* .project::after {
    content: "";
    display: table;
    clear: both;
} */

